/*color de fondo del menu*/
/*color de letra del titulo del menu*/
/*textos centrados de la pagina*/
/*tipo de fuente para titulos*/
/*tipo de fuente para parrafos*/
/*colordecajas - pagina nosotros*/
/*color de asterisco de formulario*/
/*Home de index*/
/*menu*/
.menu {
  background-color: #f3e1aa;
  /*titulo del menu*/ }
  .menu .titulo-color {
    color: black; }

/*titulo de cards del home*/
.titulo-card {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  /*parrafo de cards*/ }
  .titulo-card .card-parrafo {
    font-family: "Roboto", sans-serif; }

/*titulo de nuestros servicios*/
.titulo-servicios {
  text-align: center; }

/*primer parrafo debajo del slider*/
p.parrafo_1 {
  text-align: center;
  font-weight: 800;
  margin-top: 4%;
  font-family: "Roboto", sans-serif; }

/*segundo parrafo debajo del slider*/
p.parrafo_2 {
  text-align: center;
  margin-top: 4%;
  font-size: 20px;
  font-family: "Roboto", sans-serif; }

/*titulo de nuestros servicios*/
h1.titulo-servicios {
  margin-top: 4%;
  font-family: "Roboto", sans-serif;
  /*parrafo de nuestros servicios*/ }
  h1.titulo-servicios p.parrafo-servicios {
    margin-top: 4%;
    font-family: "Roboto", sans-serif; }

/*titulo card - imagenes - index*/
.titulo-card {
  font-family: "Roboto", sans-serif; }

.card-parrafo {
  font-family: "Roboto", sans-serif; }

/*Pagina quienes somos*/
.titulo-quienes-somos {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  /*parrafo de quienes somos*/ }
  .titulo-quienes-somos .parrafo-quienes-somos {
    font-family: "Roboto", sans-serif; }

/*titulo de nuestros principios y valores - nuestra mision*/
.titulo-mision {
  font-family: "Roboto", sans-serif; }

/*parrafo de mision*/
.parrafo-mision {
  font-family: "Roboto", sans-serif; }

/*cierre del home*/
/*pagina de nosotros*/
.row.cajas {
  margin-top: 5%; }
  .row.cajas .caja-1 {
    background-color: moccasin;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #bebebe; }
  .row.cajas .caja-2 {
    background-color: moccasin;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #bebebe; }

/*pagina de servicios - iconos de servicios*/
.icono {
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  margin: 0 0 20px 0;
  align-items: center; }

/*formulario de seccion contacto*/
.container {
  width: 50%;
  margin: 0 auto; }

.form-contact {
  width: 100%;
  font-family: "Arial", Times, serif; }

.form-contact-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #eae39e;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px; }

.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #eae39e;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif; }

.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: black;
  height: 40px;
  opacity: 0.8;
  margin-bottom: 20px;
  cursor: pointer;
  background: #e8d67c;
  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s; }

.form-contact-button:hover {
  opacity: 1; }

/*cierre de formulario de contacto*/
/*Pagina servicios - caja que contiene cada uno de los servicios*/
.servicios {
  margin-top: 10%;
  margin-left: 7%; }

/*pagina de trabajar html*/
/*recuadro de la carja del archivo cv*/
.caja-cv {
  background-color: #eae39e;
  border: 3px double #0e0d0d; }

/*boton de enviar*/
.boton {
  border-radius: 30px;
  background: black;
  color: white;
  width: 50%;
  margin-top: 5%;
  margin-left: 29%; }

/*Pagina trabajar html*/
.titulo-campo {
  font-weight: 800;
  font-family: "Roboto", sans-serif; }

.signo-asterisco {
  color: red; }

/*cierre de pagina trabajar html*/
/*footer*/
.pie-pagina {
  height: 30px; }

/*Pagina de servicios html*/
.caja-servicios {
  width: 100%;
  height: 542px; }

@media screen and (min-width: 360px) {
  .servicios {
    margin-top: 10%;
    text-align: center; }
  .pie-pagina {
    margin-top: 29%; } }
