/*color de fondo del menu*/
$color-menu-fondo:#f3e1aa;
/*color de letra del titulo del menu*/
$color-titulo-menu:black;
/*textos centrados de la pagina*/
$texto-centrado:center;
/*tipo de fuente para titulos*/
$fuentedetitulos:'Roboto', sans-serif;
/*tipo de fuente para parrafos*/
$fuentedeparrafos:'Roboto', sans-serif;



/*Home*/
/*menu*/
.menu{
    background-color:$color-menu-fondo;
/*titulo del menu*/
    .titulo-color{
        color:$color-titulo-menu;
    }
}
/*titulo de nuestros servicios*/
.titulo-servicios{
    text-align:$texto-centrado;
}
/*primer parrafo debajo del slider*/
p.parrafo_1{
    text-align:$texto-centrado;
    font-weight: 800;
    margin-top:4%;
    font-family:$fuentedeparrafos;
}
/*segundo parrafo debajo del slider*/
p.parrafo_2{
    text-align:$texto-centrado;
    margin-top:4%;
    font-family:$fuentedeparrafos;
}
/*titulo de nuestros servicios*/
h1.titulo-servicios {
    margin-top: 4%;
    font-family:$fuentedetitulos;
    /*parrafo de nuestros servicios*/
p.parrafo-servicios{
    margin-top:4%; 
    font-family:$fuentedeparrafos;
}
}

/*titulo card - imagenes - index*/
.titulo-card{
    font-family:$fuentedetitulos ;
}
.card-parrafo{
    font-family: $fuentedeparrafos;
}


/*Pagina quienes somos*/
.titulo-quienes-somos{
    font-family:$fuentedetitulos ;
    font-weight: 800;
    /*parrafo de quienes somos*/
.parrafo-quienes-somos{
    font-family: $fuentedeparrafos;
}
}

/*titulo de mision*/
.titulo-mision{
    font-family:$fuentedetitulos ;
    font-weight: 600;
    /*subtitulos de mision*/
    .titulo-mision{
        font-family:$fuentedetitulos
    }
    /*parrafo de mision*/
    .parrafo-mision{
        font-family:$fuentedeparrafos; 
    }
}
/*cierre del home*/

/*pagina de servicios*/
.icono{
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    margin: 0 0 20px 0;
    align-items: center;
}
/*formulario*/
.container {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #e8d67c;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }

  /*pagina servicios*/
  .servicios{
      margin-top: 10%;
      margin-left: 7%;
  }